{% extends 'base.html' %} {%load static %} {% block content %}

    <!-- Main -->
    <div class="container-fluid  pb-5 px-0">
      <section>
        <div class="container-fluid  pt-3 px-0 ">
          <div
            class="d-flex flex-column justify-content-center align-items-center px-0"
          >
            <h2 class="text-center mt-5 ">Search, book and connect!</h2>
            <form action="" class="self-align-center  w-100">
              <div class="form-group rounded-search d-flex justify-content-start flex-sm-row flex-wrap px-3 shadow-sm ">
                <input
                  type="search"
                  name=""
                  placeholder="search"
                  id=""
                  class="serach px-4 py-2  border-0 search-input "
                />
                <div class="dropdown-expertise ">
                  <div class="text-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="mt-3 me-0 ">
                      Expertise <i class="fa-solid fa-caret-down"></i>
                    </h6>
                  </div>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">List item 1</a></li>
                    <li><a class="dropdown-item" href="#">List item 2</a></li>
                    <li><a class="dropdown-item" href="#">List item 4</a></li>
                  </ul>
                </div>
                <div class="dropdown-pricing   ">
                  <div class="text-center" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="mt-3 ">
                     Pricing <i class="fa-solid fa-caret-down"></i>
                    </h6>
                  </div>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="#">List item 1</a></li>
                    <li><a class="dropdown-item" href="#">List item 2</a></li>
                    <li><a class="dropdown-item" href="#">List item 4</a></li>
                  </ul>
                </div>
              </div>
            </form>
            <p class=" my-2 fw-semibold text-center">Get started with your counselling journey</p>
          </div>
          <div class="container ">
            <h3 class="text-center py-3">Browse Popular Services</h3>
            <div class="row mx-auto  ">
              <div class="col-lg-3 p-2 text-center col-sm-6 ">
                <a href="#" class="  btn btn-success w-100 " >College Counselling</a>
              </div>
              <div class="col-lg-3 p-2 text-center col-sm-6">
                <a href="#" class="  btn  btn-success rounded w-100 ">Carrer Counselling</a>
              </div>
              <div class="col-lg-3 p-2 text-center col-sm-6 " >
                <a href="#" class="  btn  btn-success rounded w-100 ">college shortlisting</a>
              </div>
              <div class="col-lg-3 p-2 text-center col-sm-6">
                <a href="#" class="  btn  btn-success rounded w-100 ">ACT/SAT/GMAT/GRE</a>
              </div>
           </div>
  
           <div class="row w-lg-75 mx-auto my-lg-3 ">
            <div class="col-lg-3 p-2 text-center  col-sm-6">
              <a href="#" class=" btn  btn-success rounded w-100  ">Interview Preperation</a>
            </div>
            <div class="col-lg-3 p-2 text-center col-sm-6">
              <a href="#" class=" btn  btn-success rounded w-100 ">Foreign PR guidance</a>
            </div>
            <div class="col-lg-3 p-2 text-center  col-sm-6">
              <a href="#" class=" btn  btn-success rounded w-100 ">College essays</a>
            </div>
            <div class="col-lg-3 p-2 text-center col-sm-6">
              <a href="#" class=" btn  btn-success rounded w-100 " >Resume/Cover letter</a>
            </div>
         </div>
  
         <div class="row w-lg-75 mx-auto my-lg-3">
          <div class="col-lg-3 p-2 text-center  col-sm-6">
            <a href="#" class=" btn  btn-success rounded w-100  ">Visa assistance</a>
          </div>
          <div class="col-lg-3 p-2 text-center col-sm-6">
            <a href="#" class=" btn  btn-success rounded w-100 ">Psychometric test</a>
          </div>
          <div class="col-lg-3 p-2 text-center  col-sm-6">
            <a href="#" class=" btn  btn-success rounded w-100 ">Personal branding</a>
          </div>
          <div class="col-lg-3 p-2 text-center col-sm-6">
            <a href="#" class=" btn btn-success rounded  w-100 ">Scholarship guidance</a>
          </div>
       </div>

       <div class="row w-lg-75 mx-auto my-lg-3">
        <div class="col-lg-3 p-2 text-center  col-sm-6">
          <a href="#" class="  btn  btn-success rounded w-100 ">Under graduation</a>
        </div>
        <div class="col-lg-3 p-2 text-center col-sm-6">
          <a href="#" class=" btn btn-success rounded  w-100 ">Financial planning</a>
        </div>
        <div class="col-lg-3 p-2 text-center  col-sm-6">
          <a href="#" class=" btn  btn-success rounded w-100 "> PG/ Masters </a>
        </div>
        <div class="col-lg-3 p-2 text-center col-sm-6">
          <a href="#" class=" btn  btn-success rounded w-100  ">IIT/JEE Prep</a>
        </div>
       </div>

       <div class="row w-lg-75 mx-auto my-lg-3">
        <div class="col-lg-3 p-2 text-center col-sm-6 ">
          <a href="#" class=" btn  btn-success rounded w-100 ">NEET Preperation</a>
        </div>
        <div class="col-lg-3 p-2 text-center col-sm-6">
          <a href="#" class=" btn  btn-success rounded w-100 ">Civil service/UPSC Prep</a>
        </div>
        <!-- <div class="col-lg-3 p-2 text-center ">
          <a href="#" class=" px-4 py-2">Personal branding</a>
        </div>
        <div class="col-lg-3 p-2 text-center">
          <a href="#" class="services px-lg-5 py-2">Scholarship guidance</a>
        </div> -->
     </div>
     
  
        
  
        </div>
      </section>
    </div>
 {% endblock %}
