{% extends 'base.html' %} {%load static %} {% block content %}
<!-- Main -->
<div class="container-fluid pb-5">
  <div
    class="d-flex flex-lg-row flex-sm-column flex-md-column justify-content-lg-between mx-md-5 mt-3"
  >
    <div class="w-100">
      <section class="">
        <div class="row">
          <div
            class="card mt-5 border-0"
            style="background-color: transparent !important"
          >
            <div
              class="card-body text-primary-color"
              style="background-color: transparent !important"
            >
              <h1 class="card-title mb-5">Sign up</h1>
              <form action="">
                <div class="form-group text-start">
                  <label class="px-4 py-2 fw-semibold"
                    >Which of these Services do you provide? (Services)*</label
                  >
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="1"
                  />
                  College Counselling
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="2"
                  />
                  Career Counselling
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="3"
                  />
                  Undergraduate Admissions
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="4"
                  />

                  Postgraduate/Masters Admissions
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="5"
                  />
                  College Shortlisting
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="6"
                  />
                  Personal Branding
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="7"
                  />
                  GMAT/GRE Preparation
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="8"
                  />
                  AP/SAT Subject Test Preparation
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="9"
                  />
                  LSAT/LNAT Preparation
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="10"
                  />
                  IELTS/TOEFL Preparation
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="11"
                  />
                  Oxbridge Entrance Test Preparation
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="12"
                  />
                  Interview Preparation
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="13"
                  />
                  Psychometric Test
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="14"
                  />
                  Visa Counselling
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="15"
                  />
                  Foreign PR Guidance
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="16"
                  />
                  College Essay Guidance
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="17"
                  />
                  Post Admission Assistance
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="18"
                  />
                  Programs (Leadership/Start-Up/Internship)
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="19"
                  />
                  College Financial Planning
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id=""
                    value="20"
                  />
                  Scholarship Applications
                </div>
                <div class="px-4 py-2">
                  <input
                    type="checkbox"
                    class="service align-center me-2"
                    name=""
                    id="other"
                    value="21"
                  />
                  Other
                  <input
                    type="text"
                    id="other_service"
                    name=""
                    class="text-white border-top-0 border-start-0 border-end-0 bg-transparent others ms-4"
                  />
                </div>
                <div class="form-group">
                  <label class="mx-4 my-2 fw-semibold"
                    >Select Top 3 Services</label
                  >
                  <div class="px-4 py-2">
                    <input
                      type="checkbox"
                      class="my-2 service"
                      name="top_3_services_1"
                      id=""
                      value=""
                    />
                    option 1<br />
                    <input
                      type="checkbox"
                      class="my-2 service"
                      name="top_3_services_2"
                      id=""
                      value=""
                    />
                    option 2<br />
                    <input
                      type="checkbox"
                      class="my-2 service"
                      name="top_3_services_3"
                      id=""
                      value=""
                    />
                    option 3
                  </div>
                </div>
                <div class="from-group">
                  <label class="mx-4 my-2 fw-semibold"
                    >Countries/Study Destinations*</label
                  >
                  <div class="px-4 py-2">
                    <select name="study_destination" class="form-select">
                      <option value="" selected disabled>Choose country</option>
                      <option value="1">India</option>
                      <option value="2">America</option>
                      <option value="3">Canada</option>
                      <option value="4">Switzerland</option>
                      <option value="5">Switzerland</option>
                      <option value="6">Switzerland</option>
                      <option value="7">Switzerland</option>
                      <option value="8">Switzerland</option>
                      <option value="9">Switzerland</option>
                      <option value="10">Switzerland</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="mx-4 my-2 fw-semibold"
                    >Select Top 3 Countries</label
                  >
                  <div class="px-4 py-2">
                    <input
                      type="checkbox"
                      class="my-2 service"
                      name="option_1"
                      id=""
                      value=""
                    />
                    option 1<br />
                    <input
                      type="checkbox"
                      class="my-2 service"
                      name="option_2"
                      id=""
                      value=""
                    />
                    option 2<br />
                    <input
                      type="checkbox"
                      class="my-2 service"
                      name="option_3"
                      id=""
                      value=""
                    />
                    option 3
                  </div>
                </div>
                <div class="form-group">
                  <label class="mx-4 my-2 fw-semibold"
                    >Number of Successful Placements*</label
                  >
                  <div class="px-4 py-2">
                    <input
                      type="radio"
                      class="my-2 service"
                      name="no_of_placements"
                      id=""
                      value="1-10"
                    />
                    <label>1-10</label><br />
                    <input
                      type="radio"
                      class="my-2 service"
                      name="no_of_placements"
                      id=""
                      value="10-50"
                    />
                    <label>10-50</label><br />
                    <input
                      type="radio"
                      class="my-2 service"
                      name="no_of_placements"
                      id=""
                      value="50-100"
                    />
                    <label>50-10</label>0<br />
                    <input
                      type="radio"
                      class="my-2 service"
                      name="no_of_placements"
                      id=""
                      value="100-1000"
                    />
                    <label>100-1</label>000<br />
                    <input
                      type="radio"
                      class="my-2 service"
                      name="no_of_placements"
                      id=""
                      value="1000+"
                    />
                    <label>1000+</label><br />
                  </div>
                </div>
                <div class="form-group">
                  <label class="mx-4 my-2 fw-semibold"
                    >Free Introductory Meeting / Demo Class *</label
                  >
                  <div class="px-4 py-2">
                    <input
                      type="radio"
                      class="my-2 service"
                      name="demo_class"
                      id="yes"
                      value="yes"
                    />
                    <label for="yes">Yes</label><br />
                    <input
                      type="radio"
                      class="my-2 service"
                      name="demo_class"
                      id="no"
                      value="no"
                    />
                    <label for="no">No</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="mx-4 my-2 fw-semibold"
                    >How do you provide your services? (Medium) *</label
                  >
                  <div class="px-4 py-2">
                    <input
                      type="radio"
                      class="my-2 service"
                      name="class_medium"
                      id="option1"
                      value=""
                    />
                    <label for="option1">In-Person (at client home)</label
                    ><br />
                    <input
                      type="radio"
                      class="my-2 service"
                      name="class_medium"
                      id="option2"
                      value=""
                    />
                    <label for="option2">In-Person (at Center/Office)</label
                    ><br />
                    <input
                      type="radio"
                      class="my-2 service"
                      name="class_medium"
                      id="option3"
                      value=""
                    />
                    <label for="option3">Virtual/Remote/Online Video</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="mx-4 my-2 fw-semibold"
                    >Enter Price Range for Services (Services Starting at)
                    *</label
                  >
                  <div class="px-4 py-2">
                    <select name="currency" class="form-select">
                      <option value="" selected disabled>
                        Choose currency
                      </option>
                      <option value="1">Dollar</option>
                      <option value="2">Rupee</option>
                      <option value="3">Euro</option>
                      <option value="3">Pound</option>
                    </select>
                    <input
                      type="number"
                      name="amount"
                      id="number"
                      placeholder="Enter Amount"
                      class="px-2 my-3 border-top-0 border-start-0 border-end-0 amount"
                    />
                  </div>
                </div>
                <div class="row px-4">
                  <label class="my-2 fw-semibold"
                    >Where are you located? (Counsellor Location) *</label
                  >
                  <div class="col">
                    <select name="counsellor_country" class="form-select px-2">
                      <option value="" disabled selected>Country</option>
                      <option>select country</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AX">Aland Islands</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AS">American Samoa</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua and Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia</option>
                      <option value="BQ">
                        Bonaire, Sint Eustatius and Saba
                      </option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="BN">Brunei Darussalam</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo</option>
                      <option value="CD">
                        Congo, Democratic Republic of the Congo
                      </option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="CI">Cote D'Ivoire</option>
                      <option value="HR">Croatia</option>
                      <option value="CU">Cuba</option>
                      <option value="CW">Curacao</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands (Malvinas)</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GU">Guam</option>
                      <option value="GT">Guatemala</option>
                      <option value="GG">Guernsey</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">
                        Heard Island and Mcdonald Islands
                      </option>
                      <option value="VA">Holy See (Vatican City State)</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran, Islamic Republic of</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IM">Isle of Man</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JE">Jersey</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="KP">
                        Korea, Democratic People's Republic of
                      </option>
                      <option value="KR">Korea, Republic of</option>
                      <option value="XK">Kosovo</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">
                        Lao People's Democratic Republic
                      </option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libyan Arab Jamahiriya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao</option>
                      <option value="MK">
                        Macedonia, the Former Yugoslav Republic of
                      </option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="FM">
                        Micronesia, Federated States of
                      </option>
                      <option value="MD">Moldova, Republic of</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="AN">Netherlands Antilles</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="MP">Northern Mariana Islands</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PW">Palau</option>
                      <option value="PS">
                        Palestinian Territory, Occupied
                      </option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RE">Reunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russian Federation</option>
                      <option value="RW">Rwanda</option>
                      <option value="BL">Saint Barthelemy</option>
                      <option value="SH">Saint Helena</option>
                      <option value="KN">Saint Kitts and Nevis</option>
                      <option value="LC">Saint Lucia</option>
                      <option value="MF">Saint Martin</option>
                      <option value="PM">Saint Pierre and Miquelon</option>
                      <option value="VC">
                        Saint Vincent and the Grenadines
                      </option>
                      <option value="WS">Samoa</option>
                      <option value="SM">San Marino</option>
                      <option value="ST">Sao Tome and Principe</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="CS">Serbia and Montenegro</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SX">Sint Maarten</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="GS">
                        South Georgia and the South Sandwich Islands
                      </option>
                      <option value="SS">South Sudan</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SD">Sudan</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard and Jan Mayen</option>
                      <option value="SZ">Swaziland</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="SY">Syrian Arab Republic</option>
                      <option value="TW">Taiwan, Province of China</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania, United Republic of</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad and Tobago</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks and Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom</option>
                      <option value="US">United States</option>
                      <option value="UM">
                        United States Minor Outlying Islands
                      </option>
                      <option value="UY">Uruguay</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VE">Venezuela</option>
                      <option value="VN">Viet Nam</option>
                      <option value="VG">Virgin Islands, British</option>
                      <option value="VI">Virgin Islands, U.s.</option>
                      <option value="WF">Wallis and Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="YE">Yemen</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>
                    </select>
                  </div>
                  <div class="col">
                    <select name="counsellor_state" class="form-select">
                      <option value="" disabled selected>State</option>
                      <option>select State</option>
                      <option value="op1">option1</option>
                      <option value="op2">option2</option>
                      <option value="op3">option3</option>
                    </select>
                  </div>
                  <div class="col">
                    <select name="counsellor_city" class="form-select">
                      <option value="" disabled selected>City</option>
                      <option>select City</option>
                      <option value="city1">city1</option>
                      <option value="city2">city2</option>
                      <option value="city3">city3</option>
                    </select>
                  </div>
                </div>
                <div class="text-end my-2 mx-3">
                  <a
                    href="/sign-up1"
                    class="text-decoration-none text-white text-white shadow-lg btn btn-dark my-3"
                  >
                    <i class="pe-2 fa-solid fa-angles-left"></i>Back
                  </a>
                  <a
                    href="/sign-up3"
                    class="text-decoration-none text-white text-white shadow-lg btn btn-dark my-3"
                  >
                    Next<i class="ps-2 fa-solid fa-angles-right"></i>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  // if($("#other").is(':checked'))
  // $("#other_service").show();  // checked
  // else
  // $("#other_service").hide();
  // if($('#other').prop('checked')) {
  //   $("#other_service").show();
  // } else {
  // $("#other_service").hide();
  // }
</script> -->
{% endblock %}
